body {
    font-family: Arial, sans-serif;
    background-image: url('Images/pexels--rahulshah--5861190.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
}

.todo-app {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

h2 img {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

#input-box {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 15px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

li:last-child {
    border-bottom: none;
}

.completed {
    text-decoration: line-through;
    color: #999;
}